body {
  font-family: "Trispace", sans-serif;
}

.hidden-button {
  display: none;
}

.bag-thing {
  margin-bottom: 10px;
}

.bag-thing:hover .hidden-button {
  display: inline;
}

.card-text-inside {
  margin-bottom: 0%;
}

.order-bag {
  margin-bottom: 15px;
}

.order-button {
  padding: 0 32px;
  line-height: 40px;
  width: 250px;
  background-color: #2796ff;
  border: none;
  box-shadow: 0 2px 8px 0 rgba(39, 150, 255, 0.6);
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: #fff;
  text-align: center;
}
