body {
    font-family: 'Trispace', sans-serif;
  }

.update-button {
    background-color: #2796FF;
    border: none;
    box-shadow: 0 2px 8px 0 rgba(39,150,255,.6);
    letter-spacing: .2px;
    color: #fff;
  }

.delete-button {
  color: #fff !important;
  text-decoration: none;
  background: #ed3330;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  margin-bottom: 15px;
}

.delete-button:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

.profile-img {
    max-width: 350px;
    max-height: 400px;
}