
  
  .generalButton {
    color: #fff !important;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    margin-bottom: 15px;
  }

  
  .generalButton:hover {
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
  }


  .updateButton {
    
    background-color: #2796ff;
    border: none;
    box-shadow: 0 2px 8px 0 rgba(39, 150, 255, 0.6);
    letter-spacing: 0.2px;
    color: #fff;
  }


  .deleteButton {
    background: #ed3330;
  }
  
  .deleteButton-back {
    background: gold;
  }
  
  .deleteButton:hover {
    background: #434343;
  }
  
  .cancelButton {
    background: rgba(39, 150, 255, 0.6);
  }
  
  .cancelButton:hover {
    background: #434343;
  }
  
  .profileImg {
    max-width: 350px;
    max-height: 400px;
  }