
.valuedThing {
    margin-bottom: 10px;
}
  


.cardTextInside {
    margin-bottom: 0%;
}

.cardProduct {
    max-width: 540px;
}

.valueButton {
  /*  background-color: aquamarine;*/
    font-size: 18px;
}