.container-brand-card .card {
    margin-top: 10%;
  }
  
  .container-brand-card .card {
    position: relative;
    overflow: hidden;
  }
  
  .container-brand-card .card::before {
    position: absolute;
    content: "";
    width: 80%;
    height: 220%;
    background: rgba(235, 53, 131, 0.7);
    top: -50%;
    left: -100%;
    z-index: 1;
    transform: rotate(25deg);
    transform-origin: center top 0;
    transition: 0.5s;
  }
  
  .container-brand-card .card:hover::before {
    left: 10%;
  }
  
  .container-brand-card .card img {
    width: 100%;
    height: auto;
  }
  
  .container-brand-card .card .card-title {
    width: 100%;
    padding: 0 20px;
    position: absolute;
    top: -100%;
    color: white;
    left: 0;
    z-index: 2;
    transition: 1.1s;
  }
  
  .container-brand-card .card:hover .card-title {
    top: 80px;
  }
  
  .show-brands-modal {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    align-items: right;
  }
  
  .brand-introduction {
    text-align: center;
    font-family: "Trispace", sans-serif;
  }