
 .colProduct{ 
    flex: 0 0 25%;
    padding-top: 12px;
    padding-bottom: 12px;
  }



 .imgIn{
    max-height: 150px;
    max-width: 150px;
  }

  .userPhoto{
    max-width: 200px;
    max-height: 200px;
  }

  .listItems{
    list-style-type: none;
  }