.nav-link {
  cursor: pointer;
}

.logo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 50px;
  font-weight: 900;
  line-height: 1;
  color: black;
}

.spanLogo {
    color: rebeccapurple;
}

.navBtn {
    font-family: "Trispace", sans-serif;
    margin-right: 3px;
    border-radius: 30px;
    background-color: #d4f5ff;
  }


