.cardIntro {
    margin-top: 10%;
    position: relative;
    overflow: hidden;
  }

  .cardIntro::before {
    position: absolute;
    content: "";
    width: 80%;
    height: 220%;
    background: rgba(235, 53, 131, 0.7);
    top: -50%;
    left: -100%;
    z-index: 1;
    transform: rotate(25deg);
    transform-origin: center top 0;
    transition: 0.5s;
  }
  
.cardIntro:hover::before {
    left: 10%;
  }
  
.cardIntroImg {
    width: 100%;
    height: auto;
  }
  
.cardIntroTitle {
    width: 100%;
    padding: 0 20px;
    position: absolute;
    top: -100%;
    color: black;
    left: 0;
    z-index: 2;
    transition: 1.1s;
  }
  
.cardIntro:hover .cardIntroTitle {
    top: 80px;
  }